.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #9a092c;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.menu {
    display: none;
    cursor: pointer;
}

.brand {
    font-size: 32px;
}

.form-select {
    border: 1px solid #9a092c;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}