.footer-section {
    margin-top: 1rem;
    background: #7f7f7f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section p {
    margin: 0;
    color: #ffffff;
}